//Padding
$padding-xsmall-padding: 0.3rem;

//Tab
$tab-item-active-color: #1e87f0; /*have no idea why i cant set this to $global-primary-background*/

//Table
$table-header-cell-font-weight: 700;
$table-header-cell-color: black;

//Utility
$border-rounded-border-radius: 15px;

//Width
$width-xsmall-width: 75px;
